

.canvas-container{
   
    background-color: black;
    position: relative;
}

.score-box{

    position: fixed;
    top: 10px;
    right: 10px;
    width:150px;
    height: 100px;
    background-color: transparent;
    text-align: center;
    color: white;
    z-index: 100;
}